# --- PlatformIO dependencias y archivos temporales ---
.pio/
.piochips/
lib/README
test/README

# --- Archivos de configuración local (VS Code) ---
.vscode/.browse.c_cpp.db*
.vscode/.gcc_flags.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/.clang_format
.vscode/.exe_target_json
.vscode/ipch/

# --- Archivos temporales del sistema ---
.DS_Store
Thumbs.db
*.bak
*.tmp

# --- Binarios compilados (por si acaso) ---
*.bin
*.elf
*.hex